body {background-color:lightgray; } 
.navbar{ max-height: 50px; } 

.navbar-brand{ color: white; 
    margin-left: 25px; padding: ; 
    font-size: large; background-color: turquoise; 
    font-family: Georgia}  

    .navbar-brand { color: white; 
    background-color: turquoise; 
    font-size: large; 
    font-weight: bold;
    font-display: white;
    padding: 18px;
    padding-top: 20px; 
    padding-right: 17px; 
    padding-bottom: 15px; 
    padding-left: 17px; 
    height: 45px; }

img{
  width:100%;
  height:100%;}
.active, .panel:hover{
  border-color:turquoise;
  border-style: solid; }
.vizualization{
  width:50%;
  height:50%;}
