body {background-color:lightgray; } 
.navbar{ max-height: 40px; } 
.navbar-brand{ color: white; 
    margin-left: 25px; padding: ; 
    font-size: large; background-color: turquoise; 
    font-family: Georgia} 
    background-color: black;} 
    body { background-color: lightgray; } 
#nav { background-color: white; } 

.navbar-brand { color: white; 
    background-color: turquoise; 
    font-size: large; 
    font-weight: bold;
    font-display: white;
    padding: 18px;
    padding-top: 20px; 
    padding-right: 17px; 
    padding-bottom: 15px; 
    padding-left: 17px; 
    height: 45px; }

.nav-item #images {
    display: grid;}
main {
    background-color:white;} 